[submodule "Assignments/assignment-01"]
	path = Assignments/assignment-01
	url = git@github.com:Jacob-Sonne/assignment-01.git
[submodule "Assignments/assignment-02"]
	path = Assignments/assignment-02
	url = git@github.com:Jacob-Sonne/assignment-02.git
[submodule "Assignments/assignment-00"]
	path = Assignments/assignment-00
	url = git@github.com:Jacob-Sonne/assignment-00.git
[submodule "Assignments/assignment-03"]
	path = Assignments/assignment-03
	url = git@github.com:Jacob-Sonne/assignment-03.git
